<div class='row'>
  <div class="card col-sm-4 padded">
    <div class="card-body">
      <h5 class="card-title">Algorithms</h5>
      <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
      <a routerLink="/algorithms" routerLinkActive="active" class="btn btn-primary  stretched-link">Go somewhere</a>
    </div>
</div>

<div class="card col-sm-4 padded">
    <div class="card-body">
      <h5 class="card-title">Data Structures</h5>
      <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
      <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
    </div>
</div>
<div class="card col-sm-4 padded">
  <div class="card-body">
    <h5 class="card-title">Frameworks</h5>
    <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
    <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
  </div>
</div>



</div>

<div class='row'>
    <div class="card col-sm-4 padded">
        <div class="card-body">
          <h5 class="card-title">Data Science</h5>
          <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
          <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
        </div>
      </div>
  <div class="card col-sm-4 padded">
    <div class="card-body">
      <h5 class="card-title">Evolutionay Algorithms</h5>
      <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
      <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
    </div>
</div>

<div class="card col-sm-4 padded">
    <div class="card-body">
      <h5 class="card-title">System Design</h5>
      <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
      <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
    </div>
</div>
</div>
