<div class="card col-sm-6 padded">
    <div class="card-body">
      <h5 class="card-title">Algorithms</h5>
      <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
      <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
    </div>
</div>

<div class="card col-sm-6 padded">
    <div class="card-body">
      <h5 class="card-title">Algorithms</h5>
      <p class="card-text"> Step by step Tutorial for basic as well as advanced tutorials </p>
      <a href="#" class="btn btn-primary  stretched-link">Go somewhere</a>
    </div>
</div>